html {
    transition: 500ms;
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;

    font-family: 'Raleway', sans-serif;
}

p {
    word-break: break-all;
    white-space: normal;
}

#LAGS-crest {
    width: inherit;
    max-width: 60px;
    margin: 0px;
}

#header {
    position: fixed;
    transition: height 0.3s ease-in-out;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100vw;
    max-width: none;
    display: flex;
    justify-content: center;
}

#header-inner {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 250ms ease-in-out;
}

#title-and-logo {
    display: flex;
    gap: 20px;
}

#content {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: larger;
    color: #808080;
}

section {
    max-width: 900px;
    margin: auto;
}

#user-details {
    display: flex;
    width: 90vw;
    max-width: 800px;
    border-radius: 8px;
    border: 1px solid rgba(203, 203, 203, 0.80);
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.15);
    transition: scale 250ms;
    margin: auto;
}

#user-details:hover {
    scale: 102%;
}

#user-details img {
    width: inherit;
    max-width: 40px;
    padding: 18px;
    padding-right: 0;
}

#user-details div {
    display: flex;
    gap: 12px;
}

#user-details-text {
    display: flex;
    flex-direction: column;
    padding-right: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#user-details-text h3 {
    margin-top: auto;
    margin-bottom: 0;
}

#user-details-text p {
    margin-top: 0;
    margin-bottom: auto;
}

#user-details-text a {
    color: #202020;
}

#user-details-text a:hover {
    text-decoration: none;
}

#log-out-btn {
    margin-left: auto;
    width: 100px;
    background: none;
    border: none;
    border-left: 1px solid rgba(203, 203, 203, 0.80);
}

#log-out-btn:hover {
    color: #F0F0F0;
    background-color: #002252;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

#open-tickets {
    display: none;
    gap: 4px;
}

#it_helpdesk_open_tickets, #facilities_open_tickets {
    display: none;
}

.section-title h2 {
    padding-left: 15px;
}

.section-title {
    display: flex;
    gap: 12px;
}

.divider {
    border: 1px solid #808080;
    width: 80%;
    height: 0px;
    margin: auto;
    margin-right: 20px;
}

#cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
}

#opened-card-outer {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100vh;
    display: none;
    margin: auto;
    justify-content: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#opened-card {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 6px;

    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(203, 203, 203, 0.80);
    background: rgba(227, 227, 227, 0.90);
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.15);
}

.card {
    padding: 20px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid rgba(203, 203, 203, 0.80);
    background: rgba(227, 227, 227, 0.90);
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.15);
    display: none; /* default = flex */
    flex-direction: column;
    text-align: center;
    width: 160px;
    height: 100px;
    transition: 150ms;
}

.card:hover {
    scale: 105%;
    cursor: pointer;
}

img {
    margin: auto;
    width: 35px;
}

h3 {
    font-size: medium;
}

.sub-bookings {
    display: flex;
    cursor: pointer;
    text-align: center;
}

.sub-bookings img {
    width: 20px;
}

.sub-booking {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 0px;
    margin: 6px;
    transition: 150ms;
    width: 65px;
    background-color: #f0f0f0;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.15);
}

.sub-booking:hover {
    background-color: #F3F3F3;
    scale: 105%;
}

h4 {
    font-size: smaller;
}

.zoom-img-200 img {
    scale: 200%;
}

.no-scroll {
    overflow: hidden;
}

body.no-scroll {
    position: fixed;
    left: -8px;
    width: 100%;
}

@media all and (max-width: 480px) {
    #header-inner {
        scale: 65%;
    }

    #user-details {
        flex-direction: column;
        font-size: small;
    }

    #log-out-btn {
        width: 100%;
        border: none;
        border-top: 1px solid rgba(203, 203, 203, 0.80);
        padding-top: 6px;
        padding-bottom: 6px;
    }

    #log-out-btn:hover {
        border-radius: 0 0 8px 8px;
    }

    #cards {
        gap: 0;
    }

    .card {
        scale: 80%;
        margin: 0;
        padding: 8px;
    }
    
    .card:hover {
        scale: 75%;
    }

    #opened-card {
        width: 225px;
    }

    .sub-bookings {
        flex-wrap: wrap;
        translate: 6%;
        gap: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color: #F0F0F0;
        background-color: #202020;
    }

    button {
        color: #F0F0F0;
    }

    #header {
        background-color: #202020;
    }

    #user-details a {
        color: #F0F0F0;
    }

    .card {
        background-color: #404040;
        border-color: #808080;
    }

    #opened-card {
        border: 1px solid #808080;
        background: #404040;
    }

    .sub-booking {
        background-color: #808080;
        border: 1px solid #F0F0F0;
    }
    
    .sub-booking:hover {
        background-color: #838383;
    }

    .icon {
        -webkit-filter: invert(100%); /* Safari/Chrome */
        filter: invert(100%);
    }
}

#loader-outer {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: none;
    margin: auto;
    justify-content: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#cancel-link {
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    color: #808080;
    text-decoration: underline;
}

#cancel-link:hover {
    color: #3498db;
}

/* Source: https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* ----------------------------------------------------------- */

/* Source: https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
.fade-in p {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* ----------------------------------------------------------- */